<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>margin collapse</title>
  <link rel="stylesheet" href="styles/margin02.css">
</head>
<body>
  
  <h2>margin 중첩 현상</h2>
  <div id="collapse">
    <img src="images/kitty.jpg" alt="고양이">
  </div>
  <div id="collapse">
    <img src="images/kitty.jpg" alt="고양이">
  </div>
  <div id="collapse">
    <img src="images/kitty.jpg" alt="고양이">
  </div>
</body>
</html>